.checkout {
    margin: 2rem 2rem;
    text-align: center;
    font-size: 2rem;
}

.icons {
    display: flex;
        
}

.items-info {
    display: flex;
justify-content: space-around;
align-items: center;
    column-gap: 1rem;
    color: white;
}